* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #FFBB5C;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #FF9B50;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}
nav ul{
  display: flex;
}

nav ul li a{
  margin: 35px ;
  font-family: "poppins";
  color: #000000;
  font-size: 16px;
  font-weight: 650px;
}

nav ul li a:hover {
  color: #2f06f9;
  border-radius: 2px;
}

.logo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight:normal;
}

.main{
  position:absolute;
  left: 10%;
  right: 10%;
  padding: 20px;

}
.h2{
  font-family: "Poppins", sans-serif;
}

.intro{
  margin: 10px;
  padding-left: 30px;
  align-items: center;
}

.table{
  margin: 20px;
}


.about{
  height: 55vh;
  background-color: #FF9B50;
  padding: 2% 10% 10%;
}

.about-desc{
  margin: 50px 50px;
}

